<template>
  <div id="app">
       <Sidenav></Sidenav>
       <Topnav></Topnav>
    
<div class="main-content">
    <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <button type="button" class="addbtn" data-target="#addmodal" data-toggle="modal">&nbsp;Add Book&nbsp;
          </button>
        </div>
         <div class="col-4 offset-md-4">
          <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
            <img src="assets/images/icons/search.png" height="25" class="mt-2 mr-2 position-absolute invert">
          </div>
        </div>
      </div>


      <div class="table-responsive pt-3">
        <div style="overflow-x:auto;"></div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
			<th rowspan="2">Actions</th>
              <th>Name</th>
              <th>Author</th>
              <th>Copies Available</th>
			   <th>Categories</th>
              

            </tr>
          </thead>
          <tbody>

            <tr>
				<td>
				<a href="" class="edit-text">Edit</a> <br>
				<a href="" class="delete-text">Delete</a><br>
				<a href="" class="borrow-text">Borrow</a><br>
				<a href="" class="return-text">Return</a>
              </td>
              <td>General Chemistry</td>
              <td>Raymond Chang</td>
              <td>6</td>
			   <td>Chemistry</td>
            </tr>
			
			<tr>
				<td>
				<a href="" class="edit-text">Edit</a> <br>
				<a href="" class="delete-text">Delete</a><br>
				<a href="" class="borrow-text">Borrow</a><br>
				<a href="" class="return-text">Return</a>
              </td>
              <td>Deception Point</td>
              <td>Dan Brown</td>
              <td>3</td>
			   <td>Fictional</td>
            </tr>
			
			<tr>
				<td>
				<a href="" class="edit-text">Edit</a> <br>
				<a href="" class="delete-text">Delete</a><br>
				<a href="" class="borrow-text">Borrow</a><br>
				<a href="" class="return-text">Return</a>
              </td>
              <td>Honor in the Dust</td>
              <td>Gregg Jones</td>
              <td>3</td>
			   <td>History</td>
            </tr>
			
			<tr>
				<td>
				<a href="" class="edit-text">Edit</a> <br>
				<a href="" class="delete-text">Delete</a><br>
				<a href="" class="borrow-text">Borrow</a><br>
				<a href="" class="return-text">Return</a>
              </td>
              <td>clean Code</td>
              <td>Robert Martin</td>
              <td>6</td>
			   <td>Computer Science</td>
            </tr>
           
          </tbody>
        </table>
      </div>
	  
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
      </ul>
    </div>
  </div>

    <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Books</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body pl-5 pr-5">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name of the Book</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Authors Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Copies</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="customSelect">Category</label>
                            <select id="customSelect" name="category" class="custom-select">
                                <option selected>Please select a category</option>
                                <option value="">Fiction</option>
                                <option value="">Horror</option>
                                <option value="">Novel</option>
                                <option value="">Biography</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="addbutton"  data-dismiss="modal">Save</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Book</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body pl-5 pr-5">
                    <p>Are you sure do you want to delete this?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger"> Yes </button>
                </div>

            </div>
        </div>
    </div>


  </div>
</template>

<script>
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
    components: { Sidenav, Topnav },
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>