<template>
  <div id="app">
      <div class="wrapper">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
      </div>
    

       <div class="main-content">
            <div class="container pt-10 mt-90">
                <div class="row mt-5">
                    <div class="col-10 col-sm-10 col-lg-6 pb-3">
                        <h3>Borrowed</h3>
                        <canvas id="barchart" style= "width: 180px; height: 100px;"></canvas>
            
                    </div>
                    <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                        <h4>Popular book Genre</h4>
                        <canvas id="doughnut" style= "width: 180px; height: 100px;"></canvas>
                       
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
  components: { Sidenav, Topnav },
     mounted: function(){
        
  var ctx1 = document.getElementById('barchart').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
          labels: ["Computer Science", "History", "Mathematics", "Fictional", "Chemistry"],
		
        datasets: [{
            
           data: [20, 30, 25, 50, 55],
        backgroundColor: ["#aecef5","#053166","#e0a800","#009bd9","#2E8B57"],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    var ctx2 = document.getElementById('doughnut').getContext('2d');
    new Chart(ctx2, {
        type: 'doughnut',
        data: {
        labels: ["Computer Science", "History", "Mathematics", "Fictional", "Chemistry"],
        datasets: [{
            label: 'Borrowed Books',
            data: [10, 50, 25, 70, 40],
            
            backgroundColor: ["#aecef5","#053166", "#e0a800","#009bd9","#2E8B57"],
             borderColor: [ "#CDA776","#989898","#CB252B","#E39371", "#1D7A46"],
        }]
    },
   
   
    options: {
         legend: {
      display: true,
      position: "right",
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
         }
        
    }
    
    });
  }
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>