<template>
  <div id="app">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
     <div class="main-content">
    <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <button type="button" class="addbtn" data-target="#addmodal" data-toggle="modal">&nbsp;Add Patron&nbsp;
          </button>
        </div>
        <div class="col-4 offset-md-4">
          <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
            <img src="assets/images/icons/search.png" height="25" class="mt-2 mr-2 position-absolute invert">
          </div>
        </div>
      </div>
      <div class="table-responsive pt-3">
        <div style="overflow-x:auto;"></div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
			<th rowspan="2">Actions</th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Date Registered</th>
            </tr>
          </thead>
          <tbody>
            <tr>
				<td>
				<a href="" class="edit-text">Edit</a> <br>
				<a href="" class="delete-text">Delete</a>
              </td>
              <td>Trafalgar Law</td>
              <td>trafalgar@gmail.com</td>
              <td>Oct 21, 2020</td>
            </tr>			
            <tr>
				<td>
					<a href="" class="edit-text">Edit</a> <br>
					<a href="" class="delete-text">Delete</a>
				</td>
              <td>Eustass Kidd</td>
              <td>eustasskidd@gmail.com</td>
              <td>January 8, 2020</td>   
            </tr>			
            <tr>
				<td>
					<a href="" class="edit-text">Edit</a> <br>
					<a href="" class="delete-text">Delete</a>
				</td>
              <td>Charlotte Katakuri</td>
              <td>katakuri@gmail.com</td>
              <td>March 19, 2020</td>   
            </tr>			
<tr>
				<td>
					<a href="" class="edit-text">Edit</a> <br>
					<a href="" class="delete-text">Delete</a>
				</td>
              <td>Historia Reiss</td>
              <td>hisreiss@gmail.com</td>
              <td>August 5, 2020</td>   
            </tr>		
<tr>
				<td>
					<a href="" class="edit-text">Edit</a> <br>
					<a href="" class="delete-text">Delete</a>
				</td>
              <td>Historia Reiss</td>
              <td>hisreiss@gmail.com</td>
              <td>August 5, 2020</td>   
            </tr>        
<tr>
				<td>
					<a href="" class="edit-text">Edit</a> <br>
					<a href="" class="delete-text">Delete</a>
				</td>
              <td>Rin Okumura</td>
              <td>okumurarin@gmail.com</td>
              <td>November 5, 2020</td>   
            </tr>
          </tbody>
        </table>
      </div>  
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Patron</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body pl-6 pr-6">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">First Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Middle Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Last Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>			
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </form>
        </div>   
        <div class="modal-footer">
          <div class="row">  
        <div class="text-right">
        <button type="button" class="addbutton" data-dismiss="modal">Add Patron</button>
        </div>
      </div>	   
        </div>
      </div>
    </div>
  </div>
   </div>
</template>
<script>
 import Sidenav from '../navigations/Sidenav.vue'
  import Topnav from '../navigations/Topnav.vue'
export default {
components: {Sidenav,Topnav},
}
</script>
<style>
</style>