html {
  height: 100%;

}

body {
	background-color: #F8F8F8;
}
a:hover {
  text-decoration: none;
}
h2
{
  font-size: 20px;
  padding-top: 30px;
  padding-left: 120px;
  color: white;
}
.chart-container {
  width: 100%;
  height: 480px;

}
.modal-content {
	
	height: 600px;
	width: 1300px;

}

.logout {
	 background-color: #818F97; 
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  }

  
}

.addbutton {
	
	 background-color: #818F97; 
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.modal-header {
	background-color: #B7B7B7;
}
 .edit-text {
	color:blue;
	text-decoration-line: line-below;
}
.delete-text {
	color:red;
	text-decoration-line: line-below;
}

.borrow-text{
	color: #039B12;
	text-decoration-line: line-below;
}

.return-text {
	color: #088B87;
	text-decoration-line: line-below;
} 


.bar-chart-container {
  height: 700px;
  width: 500px;
  float: left;
}
.doughnut-chart-container {
  height:600px;
  width:600px;
  float: right;
}

.btn {
  background-color: #586589; 
  border: none; 
  color: white; 
  padding: 20px 30px;
  font-size: 16px; 
  cursor: pointer; 
  width: 100%;
  margin: 5px;
  
}

.btn:hover {
  background-color: #88A5F7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav {
  width:100%;
 
  background: #2C2C2C;
  height: 6rem;
  z-index: 0;
  position: absolute;
  top: 0  ;
  right: 0;

}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding-right: 1rem;
  padding-top: 6px;
  
}

.link-logout {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  
  text-decoration: none;
  /* identical to box height */
  color: #FFFFFF;
}


.main-content {
  margin-left: 265px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.custom-form {
  color: #000000;
  display: block;
  width: 24rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;

}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.invert {
  transform: scaleX(-1);
}
.addbtn {
  background-color: #818F97; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.custom-btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 3px;
  text-align: center;
  margin-right: 3.5px;
}

th {
	background-color: #C0BCBC ;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
    border: 3px solid black;
}

td {
  font-family: Rockwell;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  line-height: 1.3rem;
    padding: 20px;
	  border: 3px solid black;
}




.side-nav {
  height: 87%;
  width: 280px;
  position: fixed;
  z-index: 2;
  top: 1;
  bottom: 0;
  background-color: #7C7C7D;
  overflow-x: hidden;
 position:fixed;
  transition: all 400ms;
}

.logo-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  font-weight: 100;
  color: #FFFFFF;
}

.logo {
	margin-left:30px;
	margin-top: 12px;
}

.side-nav .logo-name:hover {
  cursor: default;
}




}

.side-nav a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  color: #ffdede;
  display: block;

}

.side-nav .option:hover {
  color: #a5b3a8;
  transition: all 250ms;
}

.option {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}



.element-container {
  width: 100%;
  height: 55px;
  position: relative;
}

.element {
  position: absolute;
  margin-top: 2px
}

.active-link {
  position: relative;
  height: 55px;
  background-color: rgb(88, 83, 83);
}



@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .side-nav {
    width: 100px;
  }

  .main-content {
    margin-left: 90px;
  }

  .active {
    height: 50px;
  }


  .custom-btn1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 0px;
    text-align: center;
    font-display: none;
    width: 44px;
    line-height: -2.5rem;
  }


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
  .option {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .JRI {
    margin-left: -15px;
  }

  .top-nav {
    width: calc(100% - 90px);
  }

  .nav-container {
    margin-left: 125px;
  }
}

