<template>
  <div id="app">
    <Sidenav/>
    <Topnav/>
    <router-view/>
  </div>
</template>

<script>
import Sidenav from "@Navs/Sidenav.vue"
import Topnav from "@Navs/Topnav.vue"
export default {
        components: { Sidenav, Topnav },
    }
</script>

<style>
@import '../src/assets/css/style.css';
</style>

 