<template>
   <div class="sidebar">
               
                <ul>
                   <router-link to ="/Dashboard"><li><a href = "#"><img src="../../assets/images/icons/dashboard.png" height="20">Dashboard</a></li> </router-link>
                    <router-link to ="/Patron"><li><a href = "#"><img src="../../assets/images/icons/add.png" height="20">Patron Management</a></li></router-link>
                   <router-link to ="/Book"> <li><a href = "#"><img src="../../assets/images/icons/book.png" height="20">Book Management</a></li></router-link>
                    <router-link to ="/Settings"><li><a href = "#"><img src="../../assets/images/icons/setting.png" height="20">Setting</a></li></router-link>
                </ul>
                <router-view />
    </div>
</template>

<script>
export default {
    name:'Sidenav'
}
</script>

<style scoped>
 @import '../../assets/css/style.css';
</style>