<template>
  <div class="topbar">
      
              <div class= "row">
                     <img src="../../assets/images/icons/logo.png"  height="60" alt="" class="logo">   
                    <p class="logo-name"><h2>YinYang LIBRARY SYSTEM</h2>
                </div>

            <div class="container">
                    <button class = "logout">Logout</button>
            </div>

</div>
</template>

<script>
export default {
    name: 'Topnav'
}
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>