*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    min-width: 100%;
}
body{
    background-color: #F8F8F8;
}
.sidebar{
    z-index: 2;
   margin-top: -1px;
    position: fixed;
    width: 300px;
    height: 900px;
    background:#7C7C7D;
    padding: 30px 0;
    border-right: 1px solid rgb(0, 0, 0);
}
.sidebar h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.sidebar ul li {

    background-color: #586589; 
    padding: 15px;
    margin: 13px 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.sidebar ul li a {
    color: #ffffff;
   
    display: block;
}
.sidebar ul li a .fas {
    color: rgb(255, 255, 255);
    width: 30px;  
}
.sidebar ul li:hover {
    background: #88A5F7;
}
.sidebar ul li:hover a {
    color: #fff;
}
.topbar {
    width:100%;
 
  background: #2C2C2C;
  height: 6rem;
  z-index: 0;
  position: absolute;
  top: 0  ;
  right: 0;
}
.topbar .logout {
    background-color: #818F97; 
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}
.topbar .logout:hover{
    background: #9888e9;
}
.topbar .logout .fas {
    color: rgb(255, 255, 255);
    width: 15px; 
}
.topbar .container {
    position: absolute;
    top: 10px;
    left: 1250px;
}
h2{
  font-size: 20px;
  padding-top: 25px;
  padding-left: 30px;
  color: white;
}
.logo {
	margin-left:50px;
	margin-top: 12px;
}

.logo-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    font-weight: 100;
    color: #FFFFFF;
  }
  
.main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
}
table{
   
    width: 1000px;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    background: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
th {
    background-color: #C0BCBC ;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
      border: 3px solid black;
}
td {
    font-family: Rockwell;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    line-height: 1.3rem;
      padding: 20px;
        border: 3px solid black;
  }
  
  
table .edit ,.delete {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.save {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.add{
    padding: 2px;
    text-align: center;
    color: white;
    background: black;
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 29px;
    height: 30px;
    width: 100px;
}
.search{
    padding: 2px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 535px;
    height: 30px;
    width: 494px;
}
.addbtn {
    background-color: #818F97; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  
.addbutton {
	
    background-color: #818F97; 
 border: none;
 color: white;
 padding: 10px 50px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 -webkit-transition-duration: 0.4s; 
 transition-duration: 0.4s;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.modal-header {
   background-color: #B7B7B7;
}
  .custom-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 3px;
    text-align: center;
    margin-right: 3.5px;
  }
  .edit-text {
	color:blue;
	text-decoration-line: line-below;
}
.delete-text {
	color:red;
	text-decoration-line: line-below;
}

.borrow-text{
	color: #039B12;
	text-decoration-line: line-below;
}

.return-text {
	color: #088B87;
	text-decoration-line: line-below;
} 
.btn {
    background-color: #586589; 
    border: none; 
    color: white; 
    padding: 20px 30px;
    font-size: 16px; 
    cursor: pointer; 
    width: 100%;
    margin: 5px;
    
  }

  
  .custom-btn1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 0px;
    text-align: center;
    font-display: none;
    width: 44px;
    line-height: -2.5rem;
  }
